<div class="col-md-4 card-report">
    <div class="card my-5">
        <div class="d-flex justify-content-center task-info mx-5 mb-3">
            <a href="#" class="text-white text-center mx-2"><i class="far fa-file-alt fs-3 rounded-circle pt-2"></i></a>
        </div>
        <div class="card-title text-center fw-bold"><%- report.User.email %> </div>
        <div class="card-body">
            <p class="text-secondary mb-1"><i class="fas fa-thumbtack mx-2"></i><%- report.userBoard.board_name %> </p>
            <p class="mb-1"> <i class="fas fa-th-list mx-2"></i><%- report.title %> </p>
            <p class="mb-1"><i class="far fa-bell mx-2"></i><%- report.duration %> hari</p>
            <p><i class="far fa-check-circle mx-2"></i> 7 lists checked</p>
            <div class="row">
                <div class="col-7">
                    <p class="mb-0 fw-bold">Deadline</p>
                    <p class="text-secondary"><%- report.due_date.toISOString().substring(0, 10).split('-').reverse().join('-') %> </p>
                </div>
                <div class="col-5">
                    <p class="mb-0 fw-bold">Presentase</p>
                    <p class="text-secondary"><%- report.percentage %> % </p>
                </div>
            </div>
            <p class=" fw-bold status"><i class="fas fa-exclamation mx-2"></i><%- report.status %></p>
        </div>
    </div>
</div>