<div class="col-5 card-link">
    <div class="card" id="card-1">
        <div class="card-body py-0">
                <div class="row d-flex justify-content-center">
                    <div class="row">
                        <div class="col-md-5 py-1 ">
                            <i class="fas fa-circle text-warning "><i class="fas fa-circle text-warning mx-1"></i></i>
                        </div>
                        <div class="col-md-5 py-1 d-flex justify-content-end">
                            <a href="/task/<%- newTask.id %> /edit"><i class="fas fa-angle-right"></i></a>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col-12 px-2">
                        <p class="fw-bold mb-0 text-white text-content"><%- newTask.title %></p>
                        <p class="text-secondary text-desc mb-1"><%- newTask.description %></p>
                    </div>

                    <div class="col-12 col-md-12  d-flex justify-content-center ">
                        <p class="text-white percent mb-0"><i class="fas fa-spinner mx-2"></i> <%- newTask.duration %> hari / <%- newTask.percentage %> % </p>
                    </div>
                </div>
                </div>
        </div>
    </div>

</div>