<!DOCTYPE html>
<html lang="en">

<%- include("../partial/head.ejs") %>

    <body class="board-page">
        <%- include("../layout/sidenav.ejs") %>

            <div class="my-container main board-menu">
                <div class="content-home board-bg">
                    <h4 class="fw-bold rounded d-flex justify-content-center align-items-center mb-0">Menu Board</h4>
                    <div class="row my-4">

                        <!-- create for loop-->                        
                        <% for (board of boards) { %>
                            <%- include('../components/board-card.ejs', {
                                board
                            }); %>
                        <% } %>
                        
                    </div>

                </div>
            </div>

            <%- include("../partial/script.ejs") %>
            <%- include("../partial/update-modal.ejs") %>
            <%- include("../partial/delBoard.ejs") %>


    </body>

</html>

