<!DOCTYPE html>
<html lang="en">

<%- include("../partial/head.ejs") %>

    <body>
        <%- include("../layout/sidenav.ejs") %>

        <div class="my-container main">
            <div class="content-home p-0">
                <div class="card header d-flex align-items-center p-4 mt-2 mb-3">
                    <h5 class="">Welcome Back!</h5>
                    <h4 class="fw-bold">Let's fighting to finish your task</h4>
                    <div class="mx-auto">
                        <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#staticBackdrop" type="submit">Create Board</button>
                    </div>
                </div>

                    <h5 class="card-title fw-bold px-2 my-4">Daily report</h5>
                    <div class="card mb-4 card-daily mx-auto ">
                        <div class="card-body">
                            <div class="row  d-flex justify-content-center">
                                <div class="col-6 text-center border-end">
                                    <h4 class="fw-bold"><%= totalTask %></h4>
                                    <p class="text-secondary">Total Task</p>
                                </div>
                                <div class=" col-6  text-center border-end">
                                    <h4 class="fw-bold"><%= totalBoard %></h4>
                                    <p class="text-secondary">Total Board</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-title fw-bold px-2 my-4">Recent Task</h5>
                            <div class="row">
                                <% for (newTask of newTasks) { %>
                                    <%- include('../components/task-card.ejs', {
                                        newTask
                                    }); %>
                                <% } %>
                            </div>
                 

                        </div>
                        <div class="col-6">
                            <div class="d-flex flex-column">
                                <h5 class="fw-bold text-dark my-3">Reminders</h5>
                                <div class="row">
                                    <% for (remind of remindTasks) { %>
                                        <%- include('../components/reminder.ejs', {
                                            remind
                                        }); %>
                                    <% } %>
                                </div>
                            
                            </div>

                        </div>
                    </div>
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <h4 class="modal-title fw-bold" id="staticBackdropLabel">Board</h4>

                                    <button id="staticBackdropCloseButton" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <form id="board-form" action="" method="post" >
                                    <div class="modal-body">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingInput" name="board_name" placeholder="youremail@example.com" required>
                                            <label class="form-label" for=" floatingInput">Name</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                        <button id="board-form-submit" type="submit" class="btn btn-primary">Create</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <%- include("../layout/footer.ejs") %>

        </div>


    <%- include("../partial/script.ejs") %>
    <%- include("../partial/board-form.ejs") %>

    </body>

</html>

