<!DOCTYPE html>
<html lang="en">

<%- include("../partial/head.ejs") %>

    <body class="profile-page">
        <%- include("../layout/sidenav.ejs") %>

            <div class=" my-container main-profile profile">
                <div class="content-home d-flex justify-content-center">
                    <div class="card mt-2 shadow">
                        <div class="card-body mx-2">
                            <form method="post" action="/profile" id="profile-form" >
                                <div class="row d-flex align-items-center justify-content-center my-3">
                                    <h5 class="text-center fw-bold py-1">Profil <%= biodata_user.full_name %></h5>
                                </div>
                                <!-- <p class="text-secondary mb-1">Profile</p> -->
                                <!-- <div class="row mb-1">
                                    <div class="col-12 col-md-6 d-flex  align-items-center">
                                        <label for="avatar_url" class="fw-bold">Foto</label>
                                    </div>
                                    <div class="col-12 col-md-10">
                                        <input type="file" class="form-control my-1" id="avatar_url"  name="avatar_url" >
                                    </div>
                                </div> -->
                                <div class="row mb-2 mx-4">
                                    <div class="col-12 col-md-6 d-flex  align-items-center">
                                        <label for="full_name" class="fw-bold">Nama</label>
                                    </div>
                                    <div class="col-12 col-md-10">
                                        <input type="text" class="form-control my-1" id="full_name" placeholder="Masukkan nama anda" name="full_name" value="<%- biodata_user ? biodata_user.full_name : '' %>">
                                    </div>
                                </div>

                                <div class="row mb-2 mx-4">
                                    <div class="col-6">
                                        <div class="col-12 col-md-6 ">
                                            <label for="birth" class="fw-bold">Tanggal Lahir</label>
                                        </div>
                                        <div class="col-12 col-md-10">
                                            <input type="date" class="form-control my-1" id="birth" name="birth_date" value="<%- biodata_user ? biodata_user.birth_date.toISOString().substring(0, 10) : '' %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 mx-4">
                                    <div class="col-6">
                                        <div class="col-12 col-md-6">
                                            <label for="phone_number" class="fw-bold">Telepon</label>
                                        </div>
                                        <div class="col-12 col-md-10">
                                            <input type="text" class="form-control my-1" id="phone_number" placeholder="0873458902" name="phone_number" value="<%- biodata_user ? biodata_user.phone_number : '' %>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 mx-4">
                                    <div class="col-12 col-md-6  d-flex  align-items-center">
                                        <label for="email" class="fw-bold">Email</label>
                                    </div>
                                    <div class="col-12 col-md-10">
                                        <input type="email" class="form-control my-1" id="email" placeholder="example@axample.com" name="email" value="<%=biodata_user.User.email%>" disabled>
                                        <% if(message.length > 0){ %> 
                                            <p class="text-danger"><%=message%></p>
                                        <% } %> 
                                    </div>
                                    
                                   
                                </div>
                                <div class="row mb-1 mx-4">
                                    <div class="col-12 col-md-6 d-flex  align-items-center">
                                        <label for="address" class="fw-bold">Alamat</label>
                                    </div>
                                    <div class="col-12 col-md-10">
                                        <textarea type="text" class="form-control my-1" rows=3 id="address" placeholder="Alamat anda" name="address"><%= biodata_user ? biodata_user.address : '' %></textarea>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mb-0 py-4">
                                    <button name="submit"  id="profile-form-submit" class="btn btn-success fw-bold w-50" type="submit">Update</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <%- include("../partial/script.ejs") %>
            <%- include("../partial/profile.ejs") %>



    </body>

</html>

